In [4]:
#importing required libraries

import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Reading datasets

train=pd.read_csv('Train_pjb2QcD.csv')
test=pd.read_csv('Test_wyCirpO.csv')

In [3]:
combi = train.append(test, ignore_index=True)
combi.shape

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

(14572, 23)

In [5]:
combi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14572 entries, 0 to 14571
Data columns (total 23 columns):
Applicant_BirthDate            14476 non-null object
Applicant_City_PIN             14441 non-null float64
Applicant_Gender               14483 non-null object
Applicant_Marital_Status       14469 non-null object
Applicant_Occupation           12347 non-null object
Applicant_Qualification        14442 non-null object
Application_Receipt_Date       14572 non-null object
Business_Sourced               9527 non-null float64
ID                             14572 non-null object
Manager_Business               13065 non-null float64
Manager_Business2              13065 non-null float64
Manager_Current_Designation    13065 non-null object
Manager_DOJ                    13065 non-null object
Manager_DoB                    13065 non-null object
Manager_Gender                 13065 non-null object
Manager_Grade                  13065 non-null float64
Manager_Joining_Designation    13065 non-null object
Manager_Num_Application        13065 non-null float64
Manager_Num_Coded              13065 non-null float64
Manager_Num_Products           13065 non-null float64
Manager_Num_Products2          13065 non-null float64
Manager_Status                 13065 non-null object
Office_PIN                     14572 non-null int64
dtypes: float64(9), int64(1), object(13)
memory usage: 2.6+ MB

In [18]:
combi.head()

,Applicant_BirthDate,Applicant_City_PIN,Applicant_Gender,Applicant_Marital_Status,Applicant_Occupation,Applicant_Qualification,Application_Receipt_Date,Business_Sourced,ID,Manager_Business,...,Manager_DoB,Manager_Gender,Manager_Grade,Manager_Joining_Designation,Manager_Num_Application,Manager_Num_Coded,Manager_Num_Products,Manager_Num_Products2,Manager_Status,Office_PIN
0,12/19/1971,844120.0,M,M,Others,Graduate,4/16/2007,0.0,FIN1000001,335249.0,...,2/17/1978,M,3.0,Level 1,2.0,1.0,28.0,28.0,Confirmation,842001
1,2/17/1983,844111.0,M,S,Others,Class XII,4/16/2007,1.0,FIN1000002,335249.0,...,2/17/1978,M,3.0,Level 1,2.0,1.0,28.0,28.0,Confirmation,842001
2,1/16/1966,844101.0,M,M,Business,Class XII,4/16/2007,0.0,FIN1000003,357184.0,...,3/3/1969,M,2.0,Level 1,0.0,0.0,24.0,24.0,Confirmation,800001
3,2/3/1988,814112.0,M,S,Salaried,Class XII,4/16/2007,0.0,FIN1000004,318356.0,...,8/14/1978,F,4.0,Level 1,0.0,0.0,22.0,22.0,Confirmation,814112
4,7/4/1985,815351.0,M,M,Others,Class XII,4/16/2007,0.0,FIN1000005,230402.0,...,2/7/1971,M,2.0,Level 1,2.0,1.0,17.0,17.0,Confirmation,814112

In [6]:
cat_col = [c for i, c in enumerate(combi.columns) if combi.dtypes[i] in [np.object]]
cat_col

['Applicant_BirthDate',
 'Applicant_Gender',
 'Applicant_Marital_Status',
 'Applicant_Occupation',
 'Applicant_Qualification',
 'Application_Receipt_Date',
 'ID',
 'Manager_Current_Designation',
 'Manager_DOJ',
 'Manager_DoB',
 'Manager_Gender',
 'Manager_Joining_Designation',
 'Manager_Status']

In [12]:
num_col = [c for i, c in enumerate(combi.columns) if combi.dtypes[i] in [np.number] ]

In [13]:
num_col

['Applicant_City_PIN',
 'Business_Sourced',
 'Manager_Business',
 'Manager_Business2',
 'Manager_Grade',
 'Manager_Num_Application',
 'Manager_Num_Coded',
 'Manager_Num_Products',
 'Manager_Num_Products2']

In [22]:
combi['Applicant_BirthDate'].fillna(combi['Applicant_BirthDate'].mode()[0], inplace=True)

In [23]:
combi['Applicant_Gender'].fillna(combi['Applicant_Gender'].mode()[0], inplace=True)
combi['Applicant_Marital_Status'].fillna(combi['Applicant_Marital_Status'].mode()[0], inplace=True)
combi['Applicant_Occupation'].fillna(combi['Applicant_Occupation'].mode()[0], inplace=True)
combi['Applicant_Qualification'].fillna(combi['Applicant_Qualification'].mode()[0], inplace=True)

In [24]:
combi['Manager_Current_Designation'].fillna(combi['Manager_Current_Designation'].mode()[0], inplace=True)
combi['Manager_DOJ'].fillna(combi['Manager_DOJ'].mode()[0], inplace=True)
combi['Manager_DoB'].fillna(combi['Manager_DoB'].mode()[0], inplace=True)
combi['Manager_Gender'].fillna(combi['Manager_Gender'].mode()[0], inplace=True)
combi['Manager_Joining_Designation'].fillna(combi['Manager_Joining_Designation'].mode()[0], inplace=True)
combi['Manager_Status'].fillna(combi['Manager_Status'].mode()[0], inplace=True)

In [26]:
combi['Applicant_City_PIN'].fillna(combi['Applicant_City_PIN'].mean(), inplace=True)

In [27]:
combi['Manager_Business'].fillna(combi['Manager_Business'].mean(), inplace=True)
combi['Manager_Business2'].fillna(combi['Manager_Business2'].mean(), inplace=True)
combi['Manager_Grade'].fillna(combi['Manager_Grade'].mean(), inplace=True)
combi['Manager_Num_Application'].fillna(combi['Manager_Num_Application'].mean(), inplace=True)
combi['Manager_Num_Coded'].fillna(combi['Manager_Num_Coded'].mean(), inplace=True)
combi['Manager_Num_Products'].fillna(combi['Manager_Num_Products'].mean(), inplace=True)
combi['Manager_Num_Products2'].fillna(combi['Manager_Num_Products2'].mean(), inplace=True)

In [14]:
X = train.iloc[:, 3:22].values
y = train.iloc[:, 22].values

In [15]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()
X[:, 0] = labelencoder_X.fit_transform(X[:, 0])
onehotencoder = OneHotEncoder(categorical_features = [0])
X = onehotencoder.fit_transform(X).toarray()
# Encoding the Dependent Variable
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

ValueError: could not convert string to float: '9/23/1976'

In [47]:
X=pd.get_dummies(X)
train=pd.get_dummies(train)
test=pd.get_dummies(test)

In [48]:
from sklearn.model_selection import train_test_split
x_train, x_cv, y_train, y_cv = train_test_split(X,y, test_size =0.3)

In [49]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [50]:
logreg=LogisticRegression()

In [51]:
logreg.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [52]:
pred=logreg.predict(x_cv)
pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [53]:
logreg.score(x_train,y_train)

0.659118176364727

In [55]:
accuracy_score(y_cv,pred)

0.65232598810773

In [57]:
submission=pd.read_csv(r'E:\ML models\Bussiness sourced(Classification)\Sample_Submission_RHYDQa4.csv')

In [58]:
submission['Business_Sourced']=pred
submission['ID']=test_original['ID']

In [59]:
submission['Business_Sourced'].replace(0, 'N',inplace=True)
submission['Business_Sourced'].replace(1, 'Y',inplace=True)

In [60]:
predic = pd.DataFrame(submission, columns=['ID','Business_Sourced']).to_csv('prediction.csv',index=False)