In [1]:
import pandas as pd

In [4]:
df =pd.ExcelFile("Datathon Campus Edition - Dataset cut.xlsx")

In [5]:
df.head()

AttributeError: 'ExcelFile' object has no attribute 'head'

In [6]:
df1 = pd.read_csv("Datathon Campus Edition - Dataset cut.csv")

In [7]:
df1.head()

  Data format : cust_id_token|current_address3|current_city|current_state|current_pin_code|permanent_address3|permanent_city|permanent_state|permanent_pin_code
0  1||JAMBI|INDONESIA|36126||CHENNAI|TAMIL NADU|6...
1  2|INJAMBAKKAM|CHENNAI|TAMIL NADU|600115||LONDO...
2  3|ROODEPOORT|JOHANNESBURG|GAUTENG|2169|MANDIR ...
3        4||DUBAI|DUBAI|18582||BARODA|GUJARAT|390007
4      5||SIRSA|HARYANA|125055||SIRSA|HARYANA|125055

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
Data format : cust_id_token|current_address3|current_city|current_state|current_pin_code|permanent_address3|permanent_city|permanent_state|permanent_pin_code    100 non-null object
dtypes: object(1)
memory usage: 880.0+ bytes

In [9]:
df1.shape

(100, 1)

In [11]:
df1.describe()

       Data format : cust_id_token|current_address3|current_city|current_state|current_pin_code|permanent_address3|permanent_city|permanent_state|permanent_pin_code
count                                                 100
unique                                                100
top     71||SURREY|MIDDLESEX|TW16 7DU||VAPI|GUJARAT|39...
freq                                                    1

In [12]:
df1 = pd.DataFrame(df1.row.str.split(' ',1).tolist(),columns = ['flips','row'])

AttributeError: 'DataFrame' object has no attribute 'row'