In [1]:
import requests

In [3]:
from bs4 import BeautifulSoup

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

%matplotlib inline

In [5]:
seed_urls = ['https://inshorts.com/en/read/technology',
             'https://inshorts.com/en/read/sports',
             'https://inshorts.com/en/read/world']

In [8]:
def build_dataset(seed_urls):
    news_data = []
    for url in seed_urls:
        news_category = url.split('/')[-1]
        data = requests.get(url)
        soup = BeautifulSoup(data.content, 'html.parser')
        
        news_articles = [{'news_headline': headline.find('span', 
                                                         attrs={"itemprop": "headline"}).string,
                          'news_article': article.find('div', 
                                                       attrs={"itemprop": "articleBody"}).string,
                          'news_category': news_category}
                         
                            for headline, article in 
                             zip(soup.find_all('div', 
                                               class_=["news-card-title news-right-box"]),
                                 soup.find_all('div', 
                                               class_=["news-card-content news-right-box"]))
                        ]
        news_data.extend(news_articles)
        
    df =  pd.DataFrame(news_data)
    df = df[['news_headline', 'news_article', 'news_category']]
    return df

In [9]:
news_df = build_dataset(seed_urls)
news_df.head(10)

,news_headline,news_article,news_category
0,OnePlus showcases its 5G prototype smartphone ...,Global smartphone maker OnePlus has revealed i...,technology
1,End $479 mn US Army contract: Microsoft employ...,Over 100 Microsoft workers have written to CEO...,technology
2,We are very aware of iPhone pricing concerns: ...,"Apple COO Jeff Williams, who was speaking at A...",technology
3,"Miss him today, every day: Apple CEO on Steve ...",Remembering late Apple Co-founder Steve Jobs o...,technology
4,Won't withhold tech from democracies: Microsof...,Microsoft CEO Satya Nadella defended the contr...,technology
5,Adobe fixes bug that damaged MacBook Pro speakers,Adobe has fixed a bug in its Premiere Pro afte...,technology
6,LG shows G8 ThinQ smartphone which uses palm's...,South Korean electronics company LG showed its...,technology
7,Twitter given 10 days to reply to parliament p...,The Parliamentary Committee on Information Tec...,technology
8,Satellite view was almost named 'Bird Mode': G...,Google Maps co-creator Bret Taylor has reveale...,technology
9,Warner Music sues to block its songs from Spot...,Warner Music Group has asked the Bombay High C...,technology

In [11]:
news_df.tail()

,news_headline,news_article,news_category
70,India briefs envoys of 12 nations after Indian...,Hours after the Indian Air Force carried out a...,world
71,"Iran's Foreign Minister Zarif, architect of nu...","Iran's Foreign Minister Mohammad Javad Zarif, ...",world
72,Kim Jong-un 1st N Korean leader to travel to V...,Kim Jong-un became the first leader of North K...,world
73,Trump's ex-campaign worker sues him for forcib...,"Alva Johnson, a former staffer on Donald Trump...",world
74,'Ghost island' seen on a frozen Finland lake d...,A Finnish border guard took to Twitter to shar...,world

In [12]:
news_df.news_category.value_counts()

technology    25
world         25
sports        25
Name: news_category, dtype: int64

In [13]:
bcdata = pd.read_csv('cik_list.csv')